@import '../../globalStyles.scss';

.login {
    .reset_desc {
        @include wrapper();
        width: 50%;
        margin-bottom: 4rem;
        font-weight: 500;
        background: rgb(244, 244, 244);
        max-width: 500px;
        border-left: 3px solid $mainColor;
        p {
            padding: 1rem
        }
    }
    .message {
        @include flexBox(center, space-between, row);
        gap: 1rem;
        .message_icon {
            color: #fff;
            font-size: 1rem;
        }
    }
}